.cardimg {
    max-width: 300px;
    padding: 0;
    background-position: center;
    margin: 1px;
}

.cardimg img {
    height: 100%;
}

.cardimg div h5 {
    background-color: green;
    margin: 0;
    position: relative;
    top: 70%;
    text-align: center;
}
.footer{
    background-color: gray;
    border-top:5px solid  teal;
    text-align: center;
    color: white;
    
   
}

